

body {
    font-family: 'Segoe UI';

}
.space{
    width: 10px;
}
#logo-img{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius:25%;
    border: white 2px solid;
    margin: 0;
}

#navbar-title{
    margin:0;
    font-weight:400;
    font-size: 35px;
    letter-spacing:.5px;
    color:black;
}

.no-margin{
    margin:0;
}
#main-nav-bar{
    background-color: white;
}
.content-block{
    display: flex;
    justify-content: center;
}
.divider{
    width: 100%;
    height:3px;
    border:none;
    background-color: black;

    margin:0;
}
:root{
    background-color:#F01716
}

.small-btn{
    background-color: white;
    font-size:16px;
    text-decoration: none;
    color:black;
    cursor:pointer;
    border:2px solid;
    padding: 0.25em 0.5em;
    box-shadow:1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0p;
}