.MuiCard-root{
    box-shadow: 0 4px 8px 0 rgba(182, 184, 190, 0.2);
    transition: 0.3s;
}

.MuiCard-root:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.MuiCard-root:container {
    padding: 2px 16px;
  }

/* .align-right{
    justify-content: flex-end;
    display: flex;
    background-color: red;
} */